@model HortiDot.Models.Usuario

@{
    ViewData["Title"] = "Perfil";
    Layout = "_Layout";
}


        <div class="container">

           <div class="cadastro-foto">
                <img src="https://github.com/ICEI-PUC-Minas-PMV-ADS/pmv-ads-2023-2-e2-proj-int-t2-grupo-2-hortidot/blob/main/docs/img/persona-ana.jpg?raw=true" />
                <link rel="stylesheet" href="~/css/perfil.css" asp-append-version="true" />
            </div>
 
            <div class="cadastro">
                <div>
                    <h1>Dados Pessoais</h1>
                </div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Cpf)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Cpf)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Telefone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Telefone)
                    </dd>
                    </dl>
        <div class="cadastro">
            <h2>DADOS DA EMPRESA</h2>
        </div>

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NomeEmpresa)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NomeEmpresa)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CNPJ)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CNPJ)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Endereco)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Endereco)
                    </dd>
                    
                   @*  <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Pedidos)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Pedidos)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Contatos)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Contatos)
                    </dd> *@
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TipoDeUsuario)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TipoDeUsuario)
                    </dd>
                </dl>
                <div class="form-group">
                    <a asp-action="Edit" class="btn btn-amarelo" asp-route-id="@Model?.ID">Editar perfil</a>
                </div>
            </div>

        </div>
