@using Newtonsoft.Json;
@model HortiDot.Models.ListaPedidos

@{
    ViewData["Title"] = "Criar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData["listaPedidos"] = JsonConvert.SerializeObject(ViewBag.listaPedidos);
}

<div class="content">
    <h1>Novo pedido</h1>

    <div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <p class="title">Já está na lista</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ((ListaPedidos)ViewBag.listaPedidos).ProdutosSelecionados)
                    {
                        <tr>
                            <td>
                                <a asp-action="RemoveSelectedProduct" type="hidden" asp-route-id="@item.Id">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="1.5" y="1.5" width="17" height="17" stroke="black" />
                                        <path d="M15.8203 10.8203H4.17969V9.17969H15.8203V10.8203Z" fill="black" />
                                    </svg>
                                </a>
                                @Html.DisplayFor(modelItem => item.Id)
                                <br>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                                <br>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <p class="title">Itens para adicionar a lista</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ((ListaPedidos)ViewBag.listaPedidos).ListaProdutos)
                    {
                        <tr>
                            <td>
                                <input type="hidden" name="listaProdutos" value="@ViewBag.listaPedidos.ProdutosSelecionados" />
                                <a asp-action="AddSelectedProduct" type="hidden" asp-route-id="@item.Id">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="1.5" y="1.5" width="17" height="17" stroke="black" />
                                            <path d="M15.8203 10.8203H10.8203V15.8203H9.17969V10.8203H4.17969V9.17969H9.17969V4.17969H10.8203V9.17969H15.8203V10.8203Z" fill="black" />
                                        </svg>
                                    </a>
                                @Html.DisplayFor(modelItem => item.Id)
                                <br>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                                <br>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
            <div class="form-group btns">
                <a asp-action="Index" class="btn btn-amarelo">Ver todos</a>
                <input type="submit" value="Abrir pedido" class="btn btn-verde" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
