@model HortiDot.Models.Pedido

@{
    ViewData["Title"] = "Apagar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1>Apagar pedido?</h1>

    <p>Você tem certeza que deseja apagar este pedido?</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompradorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataPedido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusPedidos)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CompradorId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DataPedido)
                </td>
                <td>
                    @Html.DisplayFor(model => model.StatusPedidos)
                </td>
            </tr>
        </tbody>
    </table>
    <form class="btns" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-amarelo">Cancelar</a>
        <input type="submit" value="Apagar" class="btn btn-vermelho" />
    </form>
</div>