@model HortiDot.Models.Pedido

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
<h1>Detalhes do pedido</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPedidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusPedidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompradorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompradorId)
        </dd>
    </dl>
</div>
<div class="btns">
        <a asp-action="Index" class="btn btn-amarelo">Ver todos</a>
        <a class="btn btn-verde" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
</div>
</div>