@model IEnumerable<HortiDot.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1>Pedidos</h1>

        <a class="btn btn-verde" asp-action="Create">Criar pedido</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DataPedido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusPedidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompradorId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPedido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusPedidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompradorId)
                    </td>
                    <td>
                        <a class="btn btn-verde" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-amarelo" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                        <a class="btn btn-vermelho" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>